In [1]:
import os
import sys
import logging

import pandas as pd
import numpy as np

In [2]:
#----------------------------------------------------------------
# Configurations section
#----------------------------------------------------------------

data_file_path = os.path.join("..","data")
csv_data_file = os.path.join(data_file_path, "reduced_repord_data.csv")

In [3]:
#----------------------------------------------------------------
# Import the procedures that download and transform the pdf file
# into a dataframe.
#----------------------------------------------------------------

module_path = os.path.abspath(os.path.join('..','src'))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

from ETL import load_data_file
from ETL import calculate_daily_diffs
from ETL import init_logger


init_logger('/tmp', "etl-notebook.log",log_level=logging.DEBUG, std_out_log_level=logging.ERROR)

/home/giovanni/code-personal/python/CoronaVirus/src

In [6]:
print(csv_data_file)
df = load_data_file(csv_data_file)
(df.shape, df["REPORT DATE"].min(), df["REPORT DATE"].max(),df.dtypes)

../data/reduced_repord_data.csv

((5145, 10),
 '2020-05-01',
 '2020-12-31',
 REPORT DATE                     object
 Regione                         object
 Ricoverati con sintomi           int64
 Terapia intensiva                int64
 Totale attualmente positivi      int64
 DECEDUTI                         int64
 Isolamento domiciliare           int64
 CASI TOTALI - A                  int64
 Totale tamponi effettuati      float64
 SCHEMA VERSION                  object
 dtype: object)

In [9]:
df.head(3)

,REPORT DATE,Regione,Ricoverati con sintomi,Terapia intensiva,Totale attualmente positivi,DECEDUTI,Isolamento domiciliare,CASI TOTALI - A,Totale tamponi effettuati,SCHEMA VERSION,D - CASI TOTALI - A
0,2020-05-01,Molise,17,1,190,21,172,300,6463.0,v5,NaN
1,2020-05-01,Trento,146,19,1293,423,1128,4132,37838.0,v5,NaN
2,2020-05-01,Piemonte,2503,181,15562,3097,12878,26684,162568.0,v5,NaN

In [8]:
df = calculate_daily_diffs(df, in_col="CASI TOTALI - A", out_col="D - CASI TOTALI - A")

In [14]:
mask = df['Regione'] == 'Piemonte'
df.loc[mask, ["REPORT DATE", "Regione", "CASI TOTALI - A", "D - CASI TOTALI - A"]].head(100)

     REPORT DATE   Regione  CASI TOTALI - A  D - CASI TOTALI - A
2     2020-05-01  Piemonte            26684                  NaN
25    2020-05-02  Piemonte            27179                495.0
45    2020-05-03  Piemonte            27430                251.0
66    2020-05-04  Piemonte            27622                192.0
87    2020-05-05  Piemonte            27774                152.0
...          ...       ...              ...                  ...
1995  2020-08-04  Piemonte            31719                  8.0
2021  2020-08-05  Piemonte            31740                 21.0
2040  2020-08-06  Piemonte            31762                 22.0
2064  2020-08-07  Piemonte            31799                 37.0
2082  2020-08-08  Piemonte            31830                 31.0

[100 rows x 4 columns]